VITE_BUSINESS_NAME=Circuit Savant
VITE_PHONE_DISPLAY=+263 77 123 4567
VITE_PHONE_E164=263771234567
VITE_WHATSAPP_E164=263771234567
VITE_SERVICE_AREA=Anywhere in Harare
VITE_USE_BACKEND=false
VITE_API_BASE_URL=http://localhost:5000
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_GOOGLE_MAPS_EMBED_KEY=